<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HttpEventStoreConfiguration" type="AppliedSystems.Configuration.XmlSerializerSectionHandler, AppliedSystems.Configuration" />
  </configSections>
  <HttpEventStoreConfiguration>
    <Url>http://localhost/httpeventstore</Url>
  </HttpEventStoreConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>