<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EventStoreMessageStorageConfiguration" type="AppliedSystems.Configuration.XmlSerializerSectionHandler, AppliedSystems.Configuration" />
  </configSections>
 <EventStoreMessageStorageConfiguration>
    <Url>tcp://admin:changeit@localhost:1113</Url>
    <UserCredentials>
      <User>admin</User>
      <Password>changeit</Password>
    </UserCredentials>
  </EventStoreMessageStorageConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>